@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    font-family: 'DM Sans';
}

.cabecalho{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    padding-left: 30px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.menu a.link-ativo{
    text-align: left;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.fotinhas{
    background-color: #e4e3e3;
    padding: 15px 15px;
    border-radius: 20px;    
    margin-left: 15px;
    margin-right: 15px;
}

.background{
    background: #F5F5F5;
    border-radius: 10px;
    width: 1280px;
    height: 700px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.gabada{
    width: 627px;
    height: 200px;
    font-weight: 700;
    font-size: 41px;
    line-height: 53px;
    margin: 0 auto;
    margin-left: 60px;
}

.dydy{
    width: 609px;
    height: 36px;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    margin: 0 auto;
    margin-left: 60px;
}

.coluna-dir{
    align-items: center;
    margin: 0 auto;
    display: flex;
    
}

.background2{
   align-items: center;
   text-align: center;
   margin: 0 auto;
   background: #FFFFFF;
   border: 1.5px solid #F2F2F2;
   border-radius: 5px;
   background: white;
   width: 400px;
   height: 140px;
}

.background3{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
    width: 161px;
    height: 138px;
}

.titulo2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.titulo3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
}